# Python has many native datatypes.

1. Booleans are either True or False.
2. Numbers can be integers (1 and 2), floats (1.1 and 1.2), fractions (1/2 and 2/3), or even complex numbers.
3. Strings are sequences of Unicode characters, e.g. an html document.
4. Bytes and byte arrays, e.g. a jpeg image file.
5. Lists are ordered sequences of values.
6. Tuples are ordered, immutable sequences of values.
7. Sets are unordered bags of values.
8. Dictionaries are unordered bags of key-value pairs.

Of course, there are more datatypes than these, but let's look at these first.

# 1. Booleans

Boolean are either true or false. Python has two constants, True and False, that can be used to directly assign Boolean values. Expressions can also be evaluated as Boolean values. In certain places, such as if statements, Python expects expressions to be evaluated as Boolean values. These places are called Boolean contexts. You can use almost any expression in a Boolean context, and Python tries to check its truth value.

Here are the examples of Booleans.

Zero values are false, and non-zero values are true.

In [1]:
bool(1)

True

In [2]:
bool(0)

False

In [3]:
bool(10)

True

In [4]:
bool(100)

True

In [5]:
bool(None)

False

Booleans can be treated as numbers. True is 1; False is 0.

In [6]:
True + True

2

In [7]:
False + False

0

In [8]:
True + False

1

In [9]:
True * False

0

### 1.1 Relational Operators

Every time when we use the relational operators (<, >, >=, <=, ==, !=), we get the Boolean values back either a true or a false.

In [10]:
3 < 5

True

In [11]:
10 < 2

False

In [12]:
2 >= 1

True

In [13]:
2 <= 1

False

In [14]:
# Examples for the equal to (==) and the not eqaul to (!=)
3 == 3

True

In [15]:
5 != 3

True

# 2. Numbers

Python supports both integers and floating point numbers.

In [16]:
float()

0.0

In [17]:
type(1)

int

In [18]:
type(1.0)

float

In [19]:
# Adding an int to an int yields an int.
1 + 1

2

In [20]:
# Adding an int to a float yields a float. 
# Python coerces the int into a float to perform the addition, then returns a float as the result.

1 + 1.0

2.0

### 2.1 Coercing Integers To Floats And Vice-Versa

In [21]:
# You can explicitly coerce an int to a float by calling the float() function.

float(2)

2.0

In [22]:
# Unsurprisingly, you can also coerce a float to an int by calling int().
int(2.0)

2

In [23]:
# The int() function will truncate, not round.
int(2.5)

2

In [24]:
# The int() function truncates negative numbers towards 0. It’s a true truncate function, not a floor function.
int(-2.5)

-2

In [25]:
# Floating point numbers are accurate to 15 decimal places.

1.12345678901234567890

1.1234567890123457

In [26]:
# Integers can be arbitrarily large

type(100000000000000)

int

### 2.2 Common Numerical Operations

In [27]:
# The / operator performs floating point division. It returns a float even if both the numerator and denominator are ints.

11 / 2

5.5

In [28]:
# The // operator performs a quirky kind of integer division. When the result is positive, you can think of it as truncating (not rounding) to 0 decimal places, but be careful with that

11 // 2

5

In [29]:
# When integer-dividing negative numbers, the // operator rounds “up” to the nearest integer. Mathematically speaking, it’s rounding “down” since −6 is less than −5, but it could trip you up if you were expecting it to truncate to −5.

-11 // 2

-6

In [30]:
# The // operator doesn’t always return an integer. If either the numerator or denominator is a float, it will still round to the nearest integer, but the actual return value will be a float.

11.0 // 2

5.0

In [31]:
# The ** operator means “raised to the power of.” (11^2 = 121)

11 ** 2

121

In [32]:
# The % operator gives the remainder after performing integer division. 11 divided by 2 is 5 with a remainder of 1, so the result here is 1.

11 % 2

1

# 3. Strings

String literals in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".

Strings can be output to screen using the print function. For example: print("hello").

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. However, Python does not have a character data type, a single character is simply a string with a length of 1. Square brackets can be used to access elements of the string.

In [33]:
# Assigning a string value, "Hello", into a variable, 'a'. 

a = "Hello"

a

'Hello'

In [34]:
# Substring. Get the characters from position 1 to position 5:
a[1:5]

'ello'

In [35]:
# The lower() method returns the string in lower case.

a.lower()

'hello'

In [36]:
# The upper() method returns the string in upper case.

a.upper()

'HELLO'

In [37]:
# The len() method returns the length of a string

len(a)

5

In [38]:
a = " Welcome to the adavanced data mining class "

a

' Welcome to the adavanced data mining class '

In [39]:
# The strip() method removes any whitespace from the beginning or the end

a.strip()

'Welcome to the adavanced data mining class'

In [40]:
# The split() method splits the string into substrings if it finds instances of the separator:

a.split()

['Welcome', 'to', 'the', 'adavanced', 'data', 'mining', 'class']

### 3.2 Placeholders in Strings: %s = String, %d = Integer

In [41]:
# You can use + operator to concatenate strings to a variable.

name = "Nick"
name + " is 20 years old"

'Nick is 20 years old'

In [42]:
# %s placeholder allows you to add a string.
sentence = "%s is 20 years old"

sentence%name

'Nick is 20 years old'

In [43]:
name1 = "Jack"

sentence%name1

'Jack is 20 years old'

In [44]:
# %d placeholder allows you to insert integer values.

age = 25

sentence = "Nick is %d years old"

sentence%age

'Nick is 25 years old'

In [45]:
# You can use both %s and %d placeholders at the same time.

sentence = "%s is %d years old"

sentence%("Nick", 20)

'Nick is 20 years old'

### 3.1 Command-line String Input

Python allows for command line input.

That means we are able to ask the user for input.

The following example asks for the user's name, then, by using the input() method, the program prints the name to the screen:

In [46]:
print("Enter your name:")
x = input()
print("Hello, " + x)

Enter your name:
Nick Lee
Hello, Nick Lee

# 4. Collection Data Type: List

There are four collection data types in the Python programming language:

- List is a collection which is ordered and changeable. Allows duplicate members.
- Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
- Set is a collection which is unordered and unindexed. No duplicate members.
- Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [47]:
# First, you define a list of five items. Note that they retain their original order. This is not an accident. A list is an ordered set of items.

list = ["Apple", "Bananas", "Milk", "Oranges", "Eggs", "Milk"]

list

['Apple', 'Bananas', 'Milk', 'Oranges', 'Eggs', 'Milk']

In [48]:
# A list can be used like a zero-based array. The first item of any non-empty list is always list[0].

list[0]

'Apple'

In [49]:
# The last item of this five-item list is list[4], because lists are always zero-based.

list[2]

'Milk'

In [50]:
list[4]

'Eggs'

### 4.1 Slicing A List

Once you’ve defined a list, you can get any part of it as a new list. This is called slicing the list.

In [ ]:
list = ["Apple", "Bananas", "Milk", "Oranges", "Eggs", "Milk"]

list

In [ ]:
# You can get a part of a list, called a “slice”, by specifying two indices. The return value is a new list containing all the items of the list, in order, starting with the first slice index (in this case list[1]), up to but not including the second slice index (in this case list[3]).

list[1:3]

In [53]:
# If the left slice index is 0, you can leave it out, and 0 is implied. So list[:3] is the same as list[0:3], because the starting 0 is implied.

list[:3]

['Apple', 'Bananas', 'Milk']

In [54]:
# Similarly, if the right slice index is the length of the list, you can leave it out. So list[3:] is the same as list[3:5], because this list has five items. 

list[3:]

['Oranges', 'Eggs', 'Milk']

### 4.2 Adding Items To A List

There are four ways to add items to a list.

In [55]:
# The + operator concatenates lists to create a new list.
# A list can contain items of any datatype, and the items in a single list don’t all need to be the same type. Here we have a list containing a string, a floating point number, and an integer.

list = list + ["blueberries", 3.5]

list

['Apple', 'Bananas', 'Milk', 'Oranges', 'Eggs', 'Milk', 'blueberries', 3.5]

In [56]:
# The append() method adds a single item to the end of the list.

list.append(72)

list

['Apple', 'Bananas', 'Milk', 'Oranges', 'Eggs', 'Milk', 'blueberries', 3.5, 72]

In [57]:
# The extend() method takes one argument, a list, and appends each of the items of the argument to the original list.

list.extend(["Bananas", "Ω"])

list

['Apple',
 'Bananas',
 'Milk',
 'Oranges',
 'Eggs',
 'Milk',
 'blueberries',
 3.5,
 72,
 'Bananas',
 'Ω']

In [58]:
# The insert() method inserts a single item into a list. The first argument is the index of the first item in the list that will get bumped out of position. List items do not need to be unique; for example, there are now two separate items with the value 'Ω': the first item, a_list[0], and the last item, a_list[6].

list.insert(0, "Ω")

list

['Ω',
 'Apple',
 'Bananas',
 'Milk',
 'Oranges',
 'Eggs',
 'Milk',
 'blueberries',
 3.5,
 72,
 'Bananas',
 'Ω']

### 4.3 Searching For Values In A List

In [59]:
list = ["Apple", "Bananas", "Milk", "Oranges", "Eggs", "Milk"]

list

['Apple', 'Bananas', 'Milk', 'Oranges', 'Eggs', 'Milk']

In [60]:
# As you might expect, the count() method returns the number of occurrences of a specific value in a list.

list.count("Bananas")

1

In [61]:
list.count("Milk")

2

In [62]:
# If all you want to know is whether a value is in the list or not, the in operator is slightly faster than using the count() method. The in operator always returns True or False; it will not tell you how many times the value appears in the list.

"Eggs" in list

True

In [63]:
"Cherry" in list

False

In [64]:
# The index() method finds the first occurrence of a value in the list. In this case, 'Milk' occurs twice in the list, in list[2] and list[5], but the index() method will return only the index of the first occurrence.

list.index("Milk")

2

In [65]:
list.index("Oranges")

3

In [66]:
# As you might not expect, if the value is not found in the list, the index() method will raise an exception.

list.index("Cherry")

ValueError: 'Cherry' is not in list

### 4.4 Removing Items From A List

Lists can expand and contract automatically. You’ve seen the expansion part. There are several different ways to remove items from a list as well.

In [67]:
list = ["Apple", "Bananas", "Milk", "Oranges", "Eggs", "Milk"]

list[1]

'Bananas'

In [68]:
# You can use the del statement to delete a specific item from a list.

del list[1]

list

['Apple', 'Milk', 'Oranges', 'Eggs', 'Milk']

In [69]:
# Accessing index 1 after deleting index 1 does not result in an error. All items after the deleted item shift their positional index to “fill the gap” created by deleting the item.

list[1]

'Milk'

In [70]:
# You can also remove an item from a list with the remove() method. The remove() method takes a value and removes the first occurrence of that value from the list. Again, all items after the deleted item will have their positional indices bumped down to “fill the gap.” Lists never have gaps.

list.remove("Milk")

list

['Apple', 'Oranges', 'Eggs', 'Milk']

In [71]:
# You can call the remove() method as often as you like, but it will raise an exception if you try to remove a value that isn’t in the list.

list.remove("Milk")

list

['Apple', 'Oranges', 'Eggs']

In [72]:
# You can call the remove() method as often as you like, but it will raise an exception if you try to remove a value that isn’t in the list.

list.remove("Milk")

ValueError: list.remove(x): x not in list

In [ ]:
list = ["Apple", "Bananas", "Milk", "Oranges", "Eggs", "Milk"]

list

In [ ]:
# When called without arguments, the pop() list method removes the last item in the list and returns the value it removed.

list.pop()

list

In [ ]:
# You can pop arbitrary items from a list. Just pass a positional index to the pop() method. It will remove that item, shift all the items after it to “fill the gap,” and return the value it removed.

list.pop(1)

list